<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="Entities">
            <directory suffix="Test.php">./tests/Entities</directory>
        </testsuite>
        <testsuite name="Client">
            <file>./tests/ClientTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
